name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Build
        run: cargo build --release --verbose
      - name: Create archive
        run: |
          tar -czf track-linux-amd64.tar.gz -C target/release track
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: track-linux-amd64.tar.gz
